[Desktop Entry]
Type=Application
Name=widget-calcurse
Exec=kitty -1 --instance-group gddwidgets --class calcurse-widget --config __HOME__/.config/kitty/panels/calcurse.conf calcurse
X-KDE-autostart-after=panel
NoDisplay=true
